/* Unique element as it does not
produce anything visible on the webpage
by itself, it is used to style other
elements

button here is a CSS selector,
background-color is a CSS property,
and red is the CSS value. 
Using a dot means the style is for
a class of element rather than for
all instances of that element. */

.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  margin-right: 8px; 
  border-radius: 2px; /* rounded corners */
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}

/* Colon here creates a pseudoclass of the subscribe 
button class */
.subscribe-button:hover {
  opacity: 0.8;
}
.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 232);
  margin-right: 8px;
  border-color: rgb(40, 40, 232);
  border-style: solid;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;

  /* Spacing within a button is known as
  padding. It is useful as unlike using
  exact height/width values for the box,
  adding extra text will not break the
  formatting. See the CSS box model
  (padding/border/margin) for more info. */

  border-radius: 2px; /* rounded corners */
  cursor: pointer;
  transition: background-color 0.5s,
    color 0.5s
}

.join-button:hover{
  background-color: rgb(40, 40, 232);
  color: rgb(255, 255, 255);
}
.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgb(2, 137, 255);
  color: rgb(255, 255, 255);
  border-color: rgb(40, 40, 232);
  font-weight: bold;
  font-size: 15px;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px; /* rounded corners */
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet-button:hover{
  /* Horizontal position argument,
  vertical position argument,
  blur argument. */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}