.title-div {
  border-color: #1520a6;
  border-width: 2px;
  margin-bottom: 40px;
}

.profile-picture {
  width: 180px;
  height: 180px;
  border-radius: 180px;
  border-style: solid;
  border-width: 2px;
  border-color: #1520a6;
  margin-left: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: center;
}

p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #1520a6;
}

.site-title{
  color: rgb(20, 20, 20);
  font-weight: bold;
  font-size: 24px;
  padding-right: 5px;
  line-height: 24px;
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: opacity 0.1s;
}

.subheading{
  color: rgb(70, 70, 70);
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 18px;
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
}

.home-button {
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: top;
}

.home-button:hover {
  opacity: 0.8;
}

.home-button:active {
  opacity: 0.5;
}

.contact-button {
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: top;
}

.contact-button:hover {
  opacity: 0.8;
}

.contact-button:active {
  opacity: 0.5;
}

.contact-details{
  color: rgb(20, 20, 20);
  font-size: 16px;
  width: 300px;
  line-height: 18px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 20px;
}

.blue-font{
  color: #1520a6;
}

/* From W3Schools */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #829cd0;
  color: #eee;
}

.panel {
  padding: 10px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
